{% extends "auctions/layout.html" %}

{% block body %}
    {% block pre_listings_block %}
    {% endblock %}
    {% if listings %}
        <h2>{% block heading %}{% endblock %}</h2>
        {% for listing in listings %}
            <hr/>
            <div class="container">
                <div class="row">
                    <div class="col-6 active-listing">
                        {%if listing.image.first.image.url %}
                            <img class="center" src="{{ listing.image.first.image.url }}">
                        {% else %}
                            <img class="center" src="/media/images/no-image.png">
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <span><h4><a href="{% url 'listings_view' listing_id=listing.id %}"> {{ listing.title }}</a></h4></span>

                        {% if listing.bids.last %}
                            <span><h5>Price: ${{ listing.bids.last.value }}</h5></span>
                        {% else %}
                            <span><h5>Price: ${{ listing.price }}</h5></span>
                        {% endif %}
                        <span>{{ listing.desc }}</span>
                        <br><br>
                        <span>Created {{ listing.date_created }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr/>
    {% else %}
        {% block no_listings_mgs %}
        {% endblock %}
    {% endif %}

{% endblock %}